* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Details-button {
  padding: 0px;
  height: 32px;
  margin: 0px;
  box-shadow: none;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: -3px;
  background-color: lightblue;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #80808087;
}

.Modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: papayawhip;
  display: flex;
  background-color: white;
}

@media only screen and (max-width: 1403px) {
  .Modal {
    flex-direction: column;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 466px) {
  .Modal {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    overflow: scroll;
  }
}
